<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Sovigation-About</title>

<!-- Bootstrap core CSS -->
<link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="../static/css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top"
		id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="index.html">Soviation</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				Menu <i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="index.html">Home</a>
						<!-- 메인 화면 --></li>
					<li class="nav-item"><a class="nav-link" href="about.html">About</a>
						<!-- 소비게이션 소개페이지 --></li>
					<li class="nav-item"><a class="nav-link" href="login.html">Login</a>
						<!-- 로그인 페이지로 넘어가기 --></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Header -->
	<header class="masthead" style="background-image: url('../static/img/main.jpg')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="page-heading">
						<!-- 
						<h1>About Sovigation</h1>
						<span class="subheading">sovigation 이용 가이드</span>
						 -->
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<section class="download bg text-info">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mx-auto">
					<h2 class="section-heading">Sovigation의 시작</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="download bg text-black">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mx-auto">
					<p>소프트웨어학과 학우분들이 보다 윤택한 학과생활을 하실 수 있도록 Sovigation 서비스를 시작하게
						되었습니다.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="download bg text-info" id="download">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mx-auto">
					<h2 class="section-heading">Sovigation 이란,</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="download bg text-black" id="download">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mx-auto">
					<p>Software와 Navigation의 합성어로서 학과 학생들에게 편리한 학교생활의 길라잡이가 되겠다는
						의미를 담고 있습니다.</p>
				</div>
			</div>
		</div>
	</section>


	<section class="features bg-info" id="features">
		<div class="container">
			<div class="section-heading text-center" style="padding-top: 10px">
				<p class="text-white">Check out what you can do with Sovigation</p>
				<hr>
			</div>
			<div class="row">
				<div class="col-lg-4 my-auto">
					<div class="device-container">
						<div class="device-mockup iphone6_plus portrait white">
							<div class="device">
								<div class="screen"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row col-lg-12 text-center">
					<div class="container-fluid">
						<h2 class="text-left" style="padding-bottom: 15px">Individual
							Service</h2>
						<div class="row">
							<div class="col-lg-4">
								<div class="feature-item">
									<div style="padding-bottom: 10px"></div>
									<img class="icon" src="../static/img/grade.png"
										style="padding: 30px; width: 200px; height: 200px"/>
									<div style="padding-bottom: 10px"></div>
									<h4 class="text-left">학점 관리 서비스</h4>
									<p class="text-white text-left">자신의 학점을 효과적인 interface를 통해
										전체적으로 확인할 수 있도록 서비스를 제공합니다.</p>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="feature-item">
									<div style="padding-bottom: 10px"></div>
									<img class="icon" src="../static/img/assign.png"
										style="padding: 30px; width: 200px; height: 200px"/>
									<div style="padding-bottom: 10px"></div>
									<h4 class="text-left">과제 관리 서비스</h4>
									<p class="text-white text-left">현재 제출해야 할 과제 리스트를 보여줍니다.</p>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="feature-item">
									<div style="padding-bottom: 10px"></div>
									<img class="icon" src="../static/img/todo.png"
										style="padding: 30px; width: 200px; height: 200px"/>
									<div style="padding-bottom: 10px"></div>
									<h4 class="text-left">To Do List 서비스</h4>
									<p class="text-white text-left">자신의 할 일을 기록하여 그 리스트를 보여줍니다.</p>
								</div>
							</div>
						</div>

						<h2 class="text-left">Community Service</h2>
						<div class="row">
							<div class="col-lg-4">
								<div class="feature-item">
									<div style="padding-bottom: 10px"></div>
									<img class="icon" src="../static/img/food.png"
										style="padding: 30px; width: 200px; height: 200px"/>
									<h4 class="text-left">가천대학교 학식 식단표</h4>
									<p class="text-white text-left">금주에 제공될 학식의 식단정보를 보여줍니다.</p>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="feature-item">
									<img class="icon" src="../static/img/lib.png"
										style="padding: 30px; width: 200px; height: 200px"/>
									<div style="padding-bottom: 10px"></div>
									<h4 class="text-left">도서관 좌석 현황</h4>
									<p class="text-white text-left">현재 중앙 도서관 좌석에 대한 정보를
										제공해줍니다.</p>
								</div>
							</div>
							<div class="col-lg-4">

								<div class="feature-item">
									<img class="icon" src="../static/img/board.png"
										style="padding: 30px; width: 200px; height: 200px"/>

									<div style="padding-bottom: 10px"></div>
									<h4 class="text-left">커뮤니티 게시판</h4>
									<p class="text-white text-left">서로의 정보를 공유할 수 있는 게시판 서비스를
										제공합니다.</p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div>
			<div class="container"
				style="padding-top: 10px; padding-bottom: 30px">
				<h2 style="padding: 20px">Information of developers</h2>
				<div class="row" style="padding-bottom: 20px">
					<div class="col-md-4 text-center">
						<img class="icon" src="../static/img/char1.png"></img>
					</div>
					<div class="col-md-4 text-center">
						<img class="icon" src="../static/img/char2.png"></img>
					</div>
					<div class="col-md-4 text-center">
						<img class="icon" src="../static/img/char3.png"></img>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">이희수</div>
					<div class="col-md-4 text-center">손승범</div>
					<div class="col-md-4 text-center">임효진</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">hesue615@gmail.com</div>
					<div class="col-md-4 text-center">asdfghjkkl11@naver.com</div>
					<div class="col-md-4 text-center">hellogenie97@gmail.com</div>
				</div>
			</div>
		</div>
		<div class="overlay"></div>
	</section>

	<section class="contact bg-info text-white" id="contact">
		<div class="container" align="center">
			<h2 class="text-white">
				We &nbsp;<i class="fas fa-heart text-danger"></i> &nbsp;new friends!
			</h2>
		</div>
	</section>

	<hr>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<ul class="list-inline text-center">
					</ul>
					<p class="copyright text-muted">Copyright &copy; Gachon
						University Sovigation 2018</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="../static/vendor/jquery/jquery.min.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="../static/js/clean-blog.min.js"></script>

</body>

</html>
