<!DOCTYPE html>
<html>
<head>
    <script language="javascript">
        function writeCheck()
        {
            var form = document.modifyform;
            if( !form.subject.value )
            {
                alert( "제목을 적어주세요" );
                form.subject.focus();
                return;
            }
            if( !form.memo.value )
            {
                alert( "내용을 적어주세요" );
                form.memo.focus();
                return;
            }
            form.submit();
        }
        function boardlist()
        {
            var s = "{{searchStr}}";
            if(s=="None")
                location.href = '/listPage?current_page={{current_page}}';
            else
                location.href = '/searchedPage?pageForView={{current_page}}&searchStr={{searchStr}}';
        }
    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form name=modifyform method=post action="/updateBoard/">
        <input type=hidden name=memo_id  value="{{memo_id}}">
        <input type=hidden name=current_page  value="{{current_page}} ">
        <input type=hidden name=searchStr  value="{{searchStr}} ">
        <table cellspacing = 0 cellpadding = 5 border = 1 width=500>
            <tr><td><b>이름</b></td><td>{{ boardData.name }}<input type=hidden name=name size=50  maxlength=30 value="{{ boardData.name }}"></td><tr>
            <tr><td><b>이메일</b></td><td><input type=text name=mail size=50  maxlength=50 value="{{ boardData.mail }}"></td></tr>
            <tr><td><b>제목</b></td><td><input type=text name=subject size=50  maxlength=50 value="{{ boardData.subject }}"></td></tr>
            <tr><td><b>내용</b></td><td><textarea name=memo cols=50 rows=10>{{ boardData.memo }}</textarea></td></tr>
        </table>
    </form>
    <table  cellspacing = 0 cellpadding = 0 border = 0 width=500>
        <tr><td>
            <input type=button value="재등록" OnClick="javascript:writeCheck();">
            <input type=button value="목록" OnClick="javascript:boardlist()">
        </td></tr>
    </table>
</body>
</html>